*{
  
    margin:0;
    font-family: tahoma;
}
body{
    
}
section{
    
    padding: 30px 0;
    width: 90%;
    margin: auto;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
p{
    margin: 10px auto;
    width:980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;

}
span{
    font-weight: bold;
    color: #1d80ca;
}

/*Estilizalçao em comum*/
.subtitulos-azul{
    color: #1c81c0;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 10px;
} 
.subtitulos-branco{
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}
.texto-azul{
    color: #1d80ca;
    font-weight: bold;
     
}
.texto-amarelo{
  color: #fff81b;   
}



/*Estilização especifica*/
.secao1{
    background-color: #afddfb;

}

.secao1 img{
    width:150px;
}

.secao1 p{
    
    margin: 15px auto;
    width: 30%;
    text-align: center;

}

.secao1 p a{
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px; 
}

.secao2{
    margin-top: 50px;
    padding: 0;
}

.secao3 h1{
    color: #1d1d1d;
    margin-bottom: 5px;
}

.secao3 img{
    width: 450px;
} 
.secao4{
    background-color: #1d80c1;
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
   
}
.secao4 ul{
    margin: 40px auto;
    width: 135px;
}
.secao4 li{
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}
.secao5 img{
    width: 450px;
}